@import "./setup/colors.css";

/* Main */

main img {
  width: 32.8rem;
  height: auto;
}

main #about {
  text-align: left;
}

main #about h1 {
  font-weight: 600;
  font-size: 3.2rem;
  text-align: center;
}

main #about p {
  text-align: justify;
  margin-top: 2.4rem;
}

.clear {
  clear: both;
}
