@import "./setup/colors.css";

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  background-color: var(--white);
  color: var(--bistre);
}

/* Header */

header {
  background-color: var(--bone);
  padding: 1rem 7.5rem;
  margin: auto;
  position: relative;
}

header nav {
  display: inline;
  float: right;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 7.5rem;
}

header img {
  width: 18.6rem;
  height: 6rem;
}

#nav-container {
  text-align: center;
}

#page-links {
  float: right;
  text-decoration: none;
  display: inline;
  user-select: none;
}

#page-links li {
  margin: auto;
  display: inline;
  margin-left: 1.6rem;
}
#page-links li a {
  text-decoration: none;
  color: var(--bistre);
  font-weight: 500;
  font-size: 2.4rem;
  position: relative;
}

#page-links li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.4rem;
  width: 0;
  height: 0.15rem;
  background-color: var(--bistre);
  transition: width 0.35s ease-out;
}

#page-links .selected-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.4rem;
  width: 100%;
  height: 0.15rem;
  background-color: var(--bistre);
}

#page-links li a:hover::after {
  width: 100%;
}

#header-logo {
  float: left;
}

.clear {
  clear: both;
}

/* Form */

#form-section {
  position: relative;
  width: 100%;
  margin: 2rem 0;
  height: 64rem;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background-opacity {
  background-color: var(--bistre);
  background-image: url("../assets/img/background/form-background.png");
  background-attachment: fixed;
  width: 100%;
  position: absolute;
  height: 64rem;
  filter: blur(0.1rem);
  -webkit-filter: blur(0.1rem);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#form-section form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  width: 100%;
  padding: 3rem;
  max-width: 70rem;
}

#form-section form h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  font-weight: 600;
  text-align: center;
}

#form-section .form-item {
  margin-bottom: 1rem;
  width: 100%;
}

#form-section form label {
  margin-bottom: 1rem;
}

form button {
  border-radius: 0.8rem;
  color: var(--white);
  background-color: var(--chamoisee);
  padding: 1rem;
  font-size: 1.6rem;
  width: 100%;
  font-weight: 600;
  cursor: pointer;
  transition: all;
  transition-duration: 300ms;
  border: none;
}
form button:hover {
  background-color: var(--coffee);
}

.form-item label {
  display: block;
}

.form-item input {
  width: 100%;
  border-radius: 0.8rem;
  padding: 1rem;
  outline: none;
  border: none;
  box-sizing: border-box;
}

.form-item input:active {
  outline: none;
}

.form-item input:focus {
  outline: none;
}

.form-item textarea:active {
  outline: none;
}

.form-item textarea:focus {
  outline: none;
}

.form-item textarea {
  resize: none;
  width: 100%;
  height: 25rem;
  border: none;
  border-radius: 0.8rem;
  padding: 1rem;
  box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--white) inset !important;
}

/* Map */

#map-section {
  margin: 0 2rem 2rem 2rem;
}

#map-section iframe {
  width: 100%;
  height: 80rem;
  border-radius: 0.8rem;
}

/* Toast */

@media (max-width: 449px) {
  .toast-mobile {
    /* transform: translate(-50%, 0px) !important; */
    width: 90vw;
    max-width: none;
  }
}

.toast-mobile.toast-fail button {
  color: var(--white);
  opacity: 0.8;
}

.toast-mobile.toast-work button {
  color: var(--toast-success);
  opacity: 0.8;
}

/* Footer */

footer {
  display: inline-block;
  width: 100%;
  padding: 2rem 7.5rem;
  text-align: start;
  background-color: var(--bone);
}

footer section {
  display: inline;
  width: fit-content;
}

#footer-links ul li a {
  text-decoration: none;
  font-weight: 600;
  color: var(--bistre);
}
#footer-social-media a {
  text-decoration: none;
}
#footer-social-media img {
  width: 2.5rem;
  height: 2.5rem;
}

#footer-social-media p,
#footer-contact h5 {
  font-weight: 600;
}
#footer-contact div,
#footer-links li,
#footer-social-media p {
  margin-bottom: 1rem;
}
#footer-contact p {
  line-height: 1.9rem;
}
footer section {
  float: left;
  width: 33.333%;
}

footer .copy {
  clear: both;
  margin-top: 0.8rem;
  text-align: center;
  font-size: 1.4rem;
}
