@import "./setup/colors.css";

:root {
  --padding-container-x: 0rem;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  background-color: var(--white);
  color: var(--bistre);
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

nav .container-nav {
  justify-content: space-between;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

p {
  margin-bottom: 0rem;
}

/* Header */

header {
  background-color: var(--bone);
  padding: 1rem var(--padding-container-x);
  display: flex;
  justify-content: space-between;
}

header nav {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 0.4rem;
  align-items: center;
}

header nav .container {
  display: flex;
  justify-content: space-between;
}

header a img {
  width: 18.6rem;
  height: 6rem;
}

#page-links {
  text-decoration: none;
  user-select: none;
  display: flex;
  gap: 1.6rem;
}

#page-links li a {
  text-decoration: none;
  color: var(--bistre);
  font-weight: 500;
  font-size: 2.4rem;
  position: relative;
}

#page-links li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.3rem;
  width: 0;
  height: 0.1rem;
  background-color: var(--bistre);
  transition: width 0.35s ease-out;
}

#page-links .selected-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.3rem;
  width: 100%;
  height: 0.1rem;
  background-color: var(--bistre);
}

#page-links li a:hover::after {
  width: 100%;
}

#hamburger-menu img {
  height: 2.4rem;
  width: 2.4rem;
}

.navbar-toggler-shadow {
  box-shadow: 0 0 0 0.15rem;
}

.navbar-toggler-shadow:focus {
  box-shadow: 0 0 0 0.15rem;
}

.nav-links {
  display: flex;
  justify-content: end;
  align-items: center;
}

@media (max-width: 767.98px) {
  .nav-links {
    margin-top: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #page-links li {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Slides */

.carousel-item img {
  width: 100%;
  object-fit: cover;
  height: auto;
  max-height: 50rem;
  user-select: none;
}

button.prev-slide {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 15%;
  padding-left: 1rem;
  font-weight: 600;
  user-select: none;
}

button.prev-slide span {
  opacity: 0.85;
  width: 4rem;
  height: 4rem;
}

button.next-slide {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 15%;
  padding-right: 1rem;
  font-weight: 600;
  user-select: none;
}

button.next-slide span {
  opacity: 0.85;
  width: 4rem;
  height: 4rem;
  color: var(--bistre);
}

.slide-select {
  display: flex;
  justify-content: center;
  gap: 1.65rem;
}

.slide-select .button-select {
  width: 1.65rem;
  height: 1.65rem;
  border-radius: 100rem;
  background-color: var(--bone);
  border: 1px solid var(--coffee);
  padding: 0;
  z-index: 40;
  cursor: pointer;
  margin-left: 0;
  margin-right: 0;
}

.slide-select .button-select.active {
  background-color: var(--coffee);
}

#carouselExampleAutoplaying {
  border-radius: 0.8rem;
  margin: 0 var(--padding-container-x);
}

#carouselExampleAutoplaying div {
  border-radius: 0.8rem;
}

/* See More */

#see-more {
  width: 100%;
  height: 40rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#see-more .see-more-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.8rem;
  z-index: 10;
}

#see-more .see-more-content h2 {
  color: var(--white);
  font-size: 4.8rem;
  font-weight: 600;
}

@media (max-width: 767.98px) {
  #see-more .see-more-content {
    padding: 0 1.2rem;
    align-items: center;
    text-align: center;
  }

  #see-more .see-more-content h2 {
    color: var(--white);
    font-size: 3.6rem;
    font-weight: 600;
  }

  #see-more .see-more-content button {
    font-size: 1.8rem;
    font-weight: 500;
  }
}

@media (max-width: 990px) {
  #see-more .see-more-content {
    padding: 1.2 1.2rem;
    align-items: center;
    text-align: center;
  }

  #see-more .see-more-content h2 {
    color: var(--white);
    font-size: 4.2rem;
    font-weight: 600;
  }

  #see-more .see-more-content button {
    font-size: 1.8rem;
    font-weight: 500;
  }
}

.background-opacity {
  background-color: var(--bistre);
  background-image: url("../assets/img/background/home-background.png");
  background-attachment: fixed;
  width: 100%;
  position: absolute;
  height: 40rem;
  filter: blur(0.1rem);
  -webkit-filter: blur(0.1rem);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#see-more .button {
  border-radius: 0.8rem;
  color: var(--white);
  background-color: var(--chamoisee);
  padding: 1.6rem;
  font-size: 2.4rem;
  font-weight: 500;
  cursor: pointer;
  transition: all;
  transition-duration: 300ms;
  border: none;
}
#see-more .button:hover {
  background-color: var(--coffee);
}

/* Menu Options */

#menu-options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 0 var(--padding-container-x);
}

.option-card {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

/* .option-card:nth-child(2) .card-container {
  margin: 0 auto;
}

.option-card:nth-child(3) .card-container {
  margin: 0 auto;
} */

/* .option-card:nth-child(3) .card-container a {
  height: 100%;
  width: 100%;
} */

.option-card .card-container {
  position: relative;
  width: fit-content;
  border-radius: 0.8rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.option-card h2 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6rem;
  font-weight: 700;
  color: var(--white);
  transition: transform 0.6s;
}

/* div.option-see-more {
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 50rem;
  height: auto;
} */

div.option-see-more .card-container {
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* min-height: 50rem; */
  height: auto;
  aspect-ratio: 1 / 1.518;
}

/* div.option-see-more {
  aspect-ratio: 1 / 1.518;
} */

div.option-see-more .card-container a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: none;
  /* aspect-ratio: 1 / 1.518; */
  text-decoration: none;
  border-radius: 0.8rem;
  background-color: var(--bone);
}

div.option-see-more h2 {
  display: inline;
  /* aspect-ratio: 1 / 1.518; */
  color: var(--bistre);
  /* display: flex;
  justify-content: center;
  align-items: center; */
  flex-wrap: wrap;
  /* width: 100%;
  min-height: 50rem;
  height: auto; */
  /* position: relative; */
  color: var(--white);
  border-radius: 0.8rem;
}

#menu-options .option-card img {
  width: 100%;
  height: auto;
  border-radius: 0.8rem;
  filter: blur(0.1rem);
  -webkit-filter: blur(0.1rem);
  transition: filter 0.2s;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--bone);
}

#menu-options .option-card .card-container:hover img {
  filter: blur(0.2rem);
  -webkit-filter: blur(0.2rem);
}

#menu-options .option-card .card-container:hover h2 {
  transform: translate(-50%, calc(-50% - 1.6rem));
}

@media (max-width: 767.98px) {
  div.option-see-more {
    aspect-ratio: initial;
  }

  div.option-see-more .card-container {
    min-height: 50rem;
    width: fit-content;
  }

  div.option-see-more .card-container a {
    max-height: 50rem;
  }

  #menu-options {
    grid-template-columns: repeat(1, 1fr);
  }

  .option-card .card-container {
    width: fit-content;
  }

  #menu-options .option-card img {
    height: auto;
    max-height: 50rem;
  }
}

.card-container a h2 {
  text-align: center;
}

@media (max-width: 767.98px) {
  .card-container h2 {
    font-size: 5.6rem;
  }
}

@media (max-width: 990px) {
  .card-container h2 {
    font-size: 4.6rem;
  }
}

/* Footer */

footer {
  width: 100%;
  background-color: var(--bone);
  display: flex;
  justify-content: center;
  padding: 1.6rem var(--padding-container-x);
}

#footer-contact {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1rem;
}

#footer-links ul li a {
  text-decoration: none;
  font-weight: 600;
  color: var(--bistre);
}
#footer-links ul {
  padding-left: 0;
  margin-bottom: 0;
}
#footer-social-media a {
  text-decoration: none;
}
#footer-social-media img {
  width: 2.5rem;
  height: 2.5rem;
}
#footer-social-media p,
#footer-contact h5 {
  font-weight: 600;
  font-size: 1.6rem;
}

footer .copy {
  display: flex;
  grid-column: 1 / -1;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}

#footer-contact p {
  line-height: 1.9rem;
}

@media (max-width: 767.98px) {
  :root {
    --padding-container-x: 2rem;
  }
  footer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: start;
    background-color: var(--bone);
  }
}
