@import "./setup/colors.css";

/* Badge list */

#badge-list {
  width: 100%;
  padding: 1rem 0;
  user-select: none;
  position: sticky;
  z-index: 20;
  top: 0;
  background-color: var(--white);
}

#badge-list .badge-item {
  display: inline;
  padding: 0.8rem;
  color: var(--white);
  border-radius: 100rem;
  background-color: var(--chamoisee);
  border: none;
  cursor: pointer;
  transition: all;
  transition-duration: 0.3s;
}

#badge-list .badge-item:hover {
  background-color: var(--coffee);
}

#badge-list nav ul li {
  display: inline;
}

.badge-item {
  text-decoration: none;
}

/* Products list */

#product-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#product-list section {
  margin-top: 1.2rem;
}

.product-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.2rem 2rem;
  color: var(--bistre);
  font-size: 2rem;
  font-weight: 500;
}

.product-item img {
  width: 14rem;
  height: 14rem;
  margin-right: 2rem;
}

#product-list h2 {
  color: var(--bistre);
  font-size: 3.2rem;
}

.separator {
  height: 0.1rem;
  background-color: var(--coffee);
}

.product-item .button {
  border-radius: 0.8rem;
  color: var(--white);
  background-color: var(--chamoisee);
  padding: 0.8rem;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
  transition: all;
  transition-duration: 300ms;
  border: none;
}

.product-item .button:hover {
  background-color: var(--coffee);
}

#hot-beverages-section,
#savory-snacks-section,
#cold-beverages-section,
#desserts-section {
  visibility: hidden;
  position: relative;
  display: block;
  transform: translateY(-11.4rem);
}

@media (max-width: 767.98px) {
  #hot-beverages-section,
  #savory-snacks-section,
  #cold-beverages-section,
  #desserts-section {
    transform: translateY(-15rem);
  }
}
