@import "./setup/colors.css";

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: var(--white);
  color: var(--bistre);
}

/* Header */

header {
  background-color: var(--bone);
  padding: 1rem 7.5rem;
}

header nav {
  display: inline;
}

header img {
  width: 18.6rem;
  height: 6rem;
}

#nav-container {
  text-align: center;
}

#page-links {
  float: right;
  text-decoration: none;
  display: inline;
}

#page-links li {
  margin: auto;
  display: inline;
  margin-left: 1.6rem;
}
#page-links li a {
  text-decoration: none;
  color: var(--bistre);
  font-weight: 500;
  font-size: 2.4rem;
  position: relative;
}

#page-links li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.4rem;
  width: 0;
  height: 0.15rem;
  background-color: var(--bistre);
  transition: width 0.35s ease-out;
}

#page-links .selected-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.4rem;
  width: 100%;
  height: 0.15rem;
  background-color: var(--bistre);
}

#page-links li a:hover::after {
  width: 100%;
}

/* Slides */

.slideshow {
  position: relative;
  display: block;
  width: 100%;
  height: 84rem;
  overflow: hidden;
  padding: 2rem 7.5rem;
}

/* See More */

#see-more {
  width: 100%;
  height: 40rem;
  position: relative;
}

.background-opacity {
  background-color: var(--bistre);
  background-image: url("../assets/img/background/home-background.png");
  background-attachment: fixed;
  width: 100%;
  position: absolute;
  height: 40rem;
  filter: blur(0.1rem);
  -webkit-filter: blur(0.1rem);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#see-more .see-more-content {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#see-more .see-more-content h2 {
  font-size: 4.8rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
  color: var(--white);
}
#see-more .button {
  border-radius: 0.8rem;
  color: var(--white);
  background-color: var(--chamoisee);
  padding: 1.6rem;
  font-size: 2.4rem;
  font-weight: 500;
  cursor: pointer;
  transition: all;
  transition-duration: 300ms;
  border: none;
}
#see-more .button:hover {
  background-color: var(--coffee);
}

/* Footer */

footer {
  display: inline-block;
  width: 100%;
  padding: 2rem 7.5rem;
  text-align: start;
  background-color: var(--bone);
}

footer section {
  display: inline;
  width: fit-content;
}

#footer-links ul li a {
  text-decoration: none;
  font-weight: 600;
  color: var(--bistre);
}
#footer-social-media a {
  text-decoration: none;
}
#footer-social-media img {
  width: 2.5rem;
  height: 2.5rem;
}

#footer-social-media p,
#footer-contact h5 {
  font-weight: 600;
}
#footer-contact div,
#footer-links li,
#footer-social-media p {
  margin-bottom: 1rem;
}
#footer-contact p {
  line-height: 1.9rem;
}
footer section {
  float: left;
  width: 33.333%;
}

footer .copy {
  clear: both;
  margin-top: 0.8rem;
  text-align: center;
  font-size: 1.4rem;
}
